<%- include('../partials/header.ejs',{title:"Quiz App | EDIT"}) %>

<div class="form-container">
	<h1 class="form-heading">EDIT QUESTION</h1>

	<form class="edit-form" action="/api/add" method="post" onsubmit="(e) => e.preventDefault()">

                
        <div class="form-field">
            <label for="category">category</label>
            <select name="category" id="category" data-value="<%=question.category %>" required>
                <option value="9">General Knowledge</option>
                <option value="10">Entertainment - Books</option>
                <option value="11">Entertainment - Film</option>
                <option value="12">Entertainment - Music</option>
                <option value="13">Entertainment - Musicals & Theaters</option>
                <option value="14">Entertainment - Television</option>
                <option value="15">Entertainment - Video Games</option>
                <option value="16">Entertainment - Board Games</option>
                <option value="29">Entertainment - Comics</option>
                <option value="32">Entertainment - Cartoon & Animations</option>
                <option value="17">Science & Nature</option>
                <option value="18">Science : Computer</option>
                <option value="19">Science : Mathematics</option>
                <option value="30">Science : Gadgets</option>
                <option value="20">Mythology</option>
                <option value="21">Sports</option>
                <option value="22">Geography</option>
                <option value="23">History</option>
                <option value="24">Politics</option>
                <option value="25">Art</option>
                <option value="26">Celebrities</option>
                <option value="27">Animals</option>
                <option value="28">Vehicles</option>
            </select>
        </div>

        <div class="form-field">
            <label for="difficulty">Difficulty</label>
            <select name="difficulty" id="difficulty" data-value="<%=question.difficulty %>" required>
                <option value="easy">EASY</option>
                <option value="medium">MEDIUM</option>
                <option value="hard">HARD</option>
            </select>
        </div>

		<div class="form-field">
            <label for="question">Question</label>
            <input type="text" name="question" id="question" value="<%=question.question %>" required>
        </div>
        
        <div class="form-field">
            <!-- <label for="type">Type</label> -->
            <input type="hidden" name="type" value="<%=question.type %>">
            <!-- <select name="type" id="type">
                <option value="multiple">multiple</option>
            </select> -->
        </div>
        
        <div class="form-field">
            <label for="correct_answer">Correct Answer</label>
            <input type="text" name="correct_answer" id="correct_amswer" value="<%=question.correct_answer %>" required>
        </div>

        <div class="form-field">
            <label for="incorrect_answers">Incorrect Answers</label>

            <ul class="incorrect_answers">
                <li>
                    <input type="text" name="incorrect_answer_1" value="<%=question.incorrect_answers[0] %>" id="" required>
                </li>
                <li>
                    <input type="text" name="incorrect_answer_2" value="<%=question.incorrect_answers[1] %>" id="" required>
                </li>
                <li>
                    <input type="text" name="incorrect_answer_3" value="<%=question.incorrect_answers[2] %>" id="" required>
                </li>
            </ul>
        </div>

        <button type="submit">SUBMIT</button>
        
	</form>
</div>

<script>
    const categorySelect = document.getElementById("category");
    categorySelect.value = categorySelect.getAttribute("data-value");

    const difficultySelect = document.getElementById("difficulty");
    difficultySelect.value = difficultySelect.getAttribute("data-value")
</script>

<%- include("../partials/footer.ejs") %>
